.meta-synopsis {
  align-items: flex-start;
  display: inline-flex;
  position: relative;
}

.meta-synopsis .class-17 {
  flex: 0 0 auto !important;
  gap: 8px !important;
}

.meta-synopsis .class-18 {
  flex: 0 0 auto !important;
}

.meta-synopsis .star-2 {
  height: 26px !important;
  margin-bottom: -2px !important;
  position: relative !important;
  width: 25px !important;
}

.meta-synopsis .my-list-25 {
  height: 30px !important;
  position: relative !important;
  width: 29px !important;
}

.meta-synopsis .my-list-26 {
  height: 30px !important;
  left: 0 !important;
  position: absolute !important;
  top: 4px !important;
  width: 29px !important;
}
