.TV-meta-data-tiles {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 496px;
}

.TV-meta-data-tiles .container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--responsive-tokens-spacer-xs);
  position: relative;
  width: 100%;
}

.TV-meta-data-tiles .provider-logo-2 {
  height: 64px;
  position: relative;
  width: 338px;
}

.TV-meta-data-tiles .marquee {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.TV-meta-data-tiles .fade {
  height: 79px;
  left: -25140px;
  object-fit: cover;
  position: absolute;
  top: 14638px;
  width: 448px;
}

.TV-meta-data-tiles .title-2 {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.TV-meta-data-tiles .description-2 {
  align-self: stretch;
  flex: 0 0 auto;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.TV-meta-data-tiles .frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 100%;
}

.TV-meta-data-tiles .marquee-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.TV-meta-data-tiles .fade-2 {
  height: 79px;
  left: -25140px;
  object-fit: cover;
  position: absolute;
  top: 14498px;
  width: 264px;
}

.TV-meta-data-tiles .provider-logo-3 {
  align-self: stretch;
  position: relative;
  width: 180px;
}

.TV-meta-data-tiles.right {
  gap: var(--responsive-tokens-spacer-sm);
  padding: 0px var(--responsive-tokens-spacer-lg) var(--responsive-tokens-spacer-lg) var(--responsive-tokens-spacer-lg);
}

.TV-meta-data-tiles.top {
  gap: 8px;
  padding: 0px 24px 16px;
}
