.height-small-wrapper {
  align-items: center;
  border-radius: var(--responsive-tokens-radius-xs);
  display: flex;
  gap: 24px;
  justify-content: center;
  position: relative;
  width: 386px;
}

.height-small-wrapper .progress-wrapper {
  align-items: center;
  background-color: var(--color-tokens-color-fill-neutraltertiary);
  border-radius: var(--responsive-tokens-radius-xs);
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  padding: 0px 138px 0px 0px;
  position: relative;
}

.height-small-wrapper .progress-2 {
  background-color: var(--color-tokens-color-fill-brand);
  border-radius: var(--responsive-tokens-radius-xs);
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.height-small-wrapper.height-2-standard {
  height: 8px;
}

.height-small-wrapper.height-2-small {
  height: 4px;
}

.height-small-wrapper.height-2-standard .progress-wrapper {
  height: 8px;
}

.height-small-wrapper.height-2-small .progress-wrapper {
  height: 4px;
}

.height-small-wrapper.height-2-standard .progress-2 {
  height: 8px;
}

.height-small-wrapper.height-2-small .progress-2 {
  height: 4px;
}
