.master-meta-tile {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-end;
  padding: 0px 20px 14px;
  position: relative;
  width: 414px;
}

.master-meta-tile .provider-logo-instance {
  position: relative !important;
}

.master-meta-tile .meta-group {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.master-meta-tile .title-subline {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.master-meta-tile .programme-title-instance {
  align-self: stretch !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 100% !important;
}

.master-meta-tile .text-wrapper-3 {
  align-self: stretch;
  color: var(--glasssystemsystem-white-100);
  font-family: "Sky Text-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 32px;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
  text-shadow: 1px 2px 0px #000000cc;
  white-space: nowrap;
}

.master-meta-tile .progress-bar-instance {
  align-self: stretch !important;
  width: 100% !important;
}
